ol#main_menu li a:link, ol#main_menu li a:visited, div.csc-frame-frame1 { background-color: #cc8d72; }
ol#main_menu li ol li a:link, ol#main_menu li ol li a:visited, ul.courses li a:link, ul.courses li a:visited, div.courseview h2 { background-color: #bd6348; }


ol#main_menu li.active a,
ol#main_menu li ol li.active a,
ol#main_menu li a:focus, 
ol#main_menu li ol li a:focus,
ol#main_menu li a:hover, 
ol#main_menu li ol li a:hover,
ol#main_menu li a:active, 
ol#main_menu li ol li a:active,
ul.courses li.active a,
ul.courses li a:focus,
ul.courses li a:hover,
ul.courses li a:active {
	background-color: #ac0c17;
}

div#searchbox input#searchbox_submit {
	background-color: #cc8d72;
}

div#content p.introduction, div#content h1, div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
	color: #bd6348;
}

div#content a:link { color: #bd6348; text-decoration: underline; }
div#content a:visited { color: #bd6348; text-decoration: underline; }
div#content a:focus { color: #bd6348; text-decoration: underline; }
div#content a:hover { color: #bd6348; text-decoration: underline; }
div#content a:active { color: #bd6348; text-decoration: underline; }

div.courseview {
	border-color: #bd6348;
}

/* Tabellen und Boxen */
.contenttable-1 {
background:#eba283 url(http://www.wi1.uni-erlangen.de/fileadmin/templates/etc/dev/img/red_bright.gif) repeat-x scroll 0 0 !important;
border-color:#AC0C17 !important;
}


/* Verlauf Oben */
div#main {
background: url(http://www.wi1.uni-erlangen.de/fileadmin/templates/etc/dev/img/bg_main_red.gif) repeat-x left top;
border-top:0px;
border-color: #fff;
}
